* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-image: url("/NavBar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.navbarActions {
  display: flex;
  align-items: center;
  gap: 12px;
}